# Dependencies
node_modules/
.pnp
.pnp.js

# Environment files
.env
.env*
!.env.example

# Next.js build output
.next/
out/
build/
dist/
dist-cpanel/
cpanel-deploy.zip

# Turbo & caching
.turbo/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS & Editor
.DS_Store
*.pem
*.tsbuildinfo
.idea/
.vscode/

# Uploaded documents
uploads/
**/public/uploads/*
!**/public/uploads/.gitkeep
